*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 100vh;
    background-color: #ccc;
  }
  
  nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(45, 45, 146);
    height: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  #logo {
    height: 6rem;
    width: 100%;
  }
  
  #menu{
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  
  .menu_item, #menu a{
    color: #f4f4f4;
    text-decoration: none;
  }
  
  .menu_item{
    height: 3rem;
    width: 100%;
    padding: 10px 25px; 
    border-bottom: 1px solid black;
    position: relative;
  }
  
  .menu_item p{
    padding: 5px 10px;
  }
  
  .menu_item p:after{
    content: "";
    display: block;
    width: 2px;
    height: 0;
    background: #f4f4f4;
    transition: height .2s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .menu_item:hover p::after{
    height: 100%;
  }